.form{
  width: 120%;
  display: block;
  align-items: center;
  justify-content: center;

}

.BillingAddress{
  padding: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 1rem;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2 ,250px);
    grid-template-rows: repeat(2,60px);
}

 
  // .countrie {
  //   display: flex;
  //   width: 24ch;
  //   justify-content: space-around;
  //   grid-column: 1/span 2;
  //   grid-row: 2/span 1;
  // } 
  // .state {
  //   display:block;
  //   width: 24ch;
  //   justify-content: space-around;
  //   grid-column: 2/span 3;
  //   grid-row: 2/2;

  // }



  // .District {
  //   display: flex;
  //   width: 24ch;
  //   justify-content: space-around;
  //   grid-column: 1/span 2;
  //   grid-row: 3/ 3;
  
  // } 

  // .pincode{
  //   width: 24ch;
  //   justify-content: space-around;
  //   align-items: center;
  //   text-align: center;
  //   display: flex;
  //   grid-column: 2/  3;
  //   grid-row: 3/3;
  // }



// .Billing-1{
//   grid-column: 1/  2;
//   grid-row: 1/3;
//   color: black;
// }

// .DistrictPincode{
//     margin-bottom: 2rem;
//     margin-top:1rem ;

// }
// .Billing{
//   grid-column: 1/-1;
//   grid-row: 1/2;
//   align-items: start;
//   text-align: start;
//   margin-left: 1rem;
// }
.payment1{
  margin-top: -1rem;
  display: block;
  grid-column: 1/-1;
  grid-row: 1/2;
  align-items: start;
  text-align: start;
  margin-left: 1rem;
}
  

   
  

.NameField{
    display: flex;
    width: 100%;
}

.PaymetMethod{
  display: flex;
 
}

.NameonCard{
    display: flex;
    width: 24ch;
    justify-content: space-around;

    grid-column: 1/2;
    grid-row: 2/3;
 
}
.cardNumber{
    display: flex;
    width: 24ch;
    justify-content: space-around;
    grid-column: 2/ -1;
    grid-row: 2/3;
    
    
}
.Expirydate{
    display: inline-flex;
    width: 24ch;
    justify-content: space-around; 
    grid-column: 2 / 3;
    grid-row: 3/ 4;

}
.security{
    display: inline-flex;
    width: 24ch;
    justify-content: space-around; 
    grid-column: 1 / 2;
    grid-row: 3 / 4;


}
.security1{
    margin-top: 0rem;
}
