* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.yatra-header{
  z-index: 1000!important;
}

body {
  font-family: 'Rubik', sans-serif;
  background: #eee;
  color: #333;
}


hr{
  border: 0;
  margin: 0;
  border-top: 1px solid #eeeeee;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1s;
  &-slow {
    animation-duration: 2s;
  }
}

/*Global Scrollbar changes*/
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}


*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}