

.netbankingForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .formField {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  .submitButton {
    margin-top: 1rem;
    transition: all .1s linear;
    box-shadow: 0rem 0rem .2rem rgba(#d45656, 0.5);
  }
  .submitButton:hover{
    color:white;
    transition: all 1 ;
    background-color: red;
  }