.month {
  display: inline-flex;
  width: 4.5rem;
  height: 3rem;
  justify-content: space-around;
  
}
.day {
  display: inline-flex;
  width: 4.5rem;
  height: 3rem;
  justify-content: space-around;
 
}

.form1{
  width: 100%;
  margin: auto;
  padding: 2rem;
  display:flex;
  background-color: white;
  }
 .date2{
  width: 45ch;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

 }
 .selectLabel {
color: black;
margin: 1px;
font-size: 1rem;
}

 .cvv{
  display: inline-flex;
  width: 4rem;
  height: 3rem;
  justify-content: space-around;
  border-radius: 5px;
  align-items: center;
}

.button{
  display: flex ;
  width: 100%;
  justify-content: center;
  text-align: center;
  .btn{
    background-color: red;
    width: 12rem;
    border-radius: none;
    color: white;
    font-size: 1rem;
    font-weight: 800  ;
   transition: all .1s linear;
   box-shadow: 0rem 0rem .2rem rgba(#d45656, 0.5);
   &:hover{

    box-shadow: 0rem 0rem .2rem rgba(#d45656, 0.5);
  }
  }
}