.mainTabs {
    background: #eeeeee;
    box-shadow: -4px 4px 3px -4px rgba(0, 0, 0, 0.3);

    .tabLink {
        background: #ffffff;
        font-size: 16px;
        font-weight: 500;
        color: var(--color-theme);
        font-family: var(--font-family-primary);
        border-top: 3px solid var(--color-theme);
        border-radius: 4px 4px 0px 0px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);

        .tabContent {
            font-size: 16px;
            font-weight: 500;
            color: var(--color-theme);
            text-transform: capitalize !important;
        }

        .checkMarkIcon {
            width: 22px;
            height: 22px;
            margin: 0 6px 0 0;
        }
    }
}

.tableHead{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);

.tripHeader {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    white-space: nowrap;

    &:nth-child(7) {
        text-align: center;
    }

}
}

.tripBody {
    font-size: 13px;
    color: #333;

    &:nth-child(5) {
        white-space: nowrap;
    }

    .travelActions{
        width: 90%;
    }

    .actionButtons{
        margin-left: 0px !important;
    }

}

button.containedButton {
    border-radius: 4px;
    border: solid 1px var(--color-theme) !important;
    color: var(--color-theme);
    text-transform: capitalize;
    box-shadow: none;
}

button.outlinedButton {
    border-radius: 4px;
    background-color: var(--color-theme) !important;
    color: #fff;
    text-transform: capitalize;
    box-shadow: none;
}